<div class="col-md-6">
    <form class="form-horizontal" id="login-form" method="post" enctype="multipart/form-data" asp-controller="User" asp-action="CreateSession">
        <h3>登录账户</h3>
        <br/>
        <label>用户名:</label>
        <input class="form-control" type="text" name="username" required autocomplete="off"/>
        <br/>
        <label>密码:</label>    
        <input class="form-control" type="password" name="password" required autocomplete="off"/>
        <br/>
        <input class="btn btn-default" type="submit" value="submit" />
    </form>
</div>
