

<div class="container">
    <div class="col-md-6">
        <h3>@ViewBag.Username 工作主页</h3>

        <br/>
        <h4>快捷功能</h4>
        <button class="btn btn-default" id="food-button">找人外出觅食</button>
        <button class="btn btn-default" id="unbrella-button">寻人借伞</button>
        <form id="logout-form" method="post" enctype="multipart/form-data" asp-controller="user" asp-action="DeleteSession">
            <input class="btn btn-default" type="submit" value="登出" />
        </form>

        <hr/>
        <h4>群内发言</h4>
        <form class="form-horizontal" id="work-log-form">
            <input class="form-control" id="work-log" type="text" />
            <br/>
            <input class="btn btn-default" type="submit" value="提交" />
        </form>

        <hr/>

        
        
    </div>
    <div class="col-md-6">
         <ul class="list-group" id="information-list"></ul>
    </div>
</div>



<script>
    function randomString(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for(var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }

    var dataStore = {
        userId: "@ViewBag.Username",
        information: []
    };

    function longPolling(){
        $.ajax({
            url: "fetch/" + dataStore.userId,
            method: "GET",
            data: JSON.stringify({
                userId: dataStore.userId
            }),
            success: function(newInfo){
                dataStore.information = dataStore.information.concat(newInfo);
                for(var i = 0; i < newInfo.length; i++){
                    $("#information-list").append("<li class='list-group-item'>" + newInfo[i] + "</li>");
                }
                
                longPolling();
            },
            error: function(err){
            
            }
        })
    }
    
</script>

<script>
    function makeAjax(content){
        return () => {
            $.ajax({
                url: "post/id=" + dataStore.userId + "&content=" + content,
                method: "POST",
                dataType: "JSON",
                data: JSON.stringify({
                    userId: dataStore.userId
                }),
                success: function(response){
                    console.log(response);
                },
                error: function(err){
                    debugger;
                }
            });
        }
    }

    $(function(){
        longPolling();

        $("#work-log-form").on("submit", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）群内发言: " + $("#work-log").val() + "。" )();
            $("#work-log").val("");
        }) 
        $("#food-button").on("click", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）正在组队外出就餐。")();
        })
        $("#unbrella-button").on("click", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）正在群内借伞。")();
        })
        $("#logout-form").on("submit", (e) => {
            makeAjax("用户（" + dataStore.userId + "）下线了。")();
        })
        
        makeAjax("用户（" + dataStore.userId + "）上线了。")();
    })

    $(document).on("unload", (e) => {
        $.ajax({
            url: "delete/id=" + dataStore.userId,
            method: "DELETE",
            dataType: "JSON",
            data: JSON.stringify({
                userId: dataStore.userId
            }),
            success: function(response){
                console.log(response);
            },
            error: function(err){
                debugger;
            }
        });
    })
</script>