

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 contact-list-column">
            <h3 class="subsection-header">群用户列表</h3>
            <ul class="list-group" id="users-list"></ul>
        </div>
        <div class="col-md-5 work-table-column">
            <h3 class="subsection-header">@ViewBag.Username 工作主页</h3>

            <br/>
            <h4>快捷功能</h4>
            <button class="btn btn-default" id="food-button">找人外出觅食</button>
            <button class="btn btn-default" id="unbrella-button">寻人借伞</button>
            <form id="logout-form" method="post" enctype="multipart/form-data" asp-controller="user" asp-action="DeleteSession">
                <input class="btn btn-default" type="submit" value="登出" />
            </form>

            <hr/>
            <h4 class="subsection-header">群内发言</h4>
            <form class="form-horizontal" id="work-log-form">
                <input class="form-control" id="work-log" type="text" />
                <br/>
                <input class="btn btn-default" type="submit" value="提交" />
            </form>

            <hr/>

            
            
        </div>
        <div class="col-md-4 message-column">
            <h3 class="subsection-header">全部活动</h3>
            <ul class="list-group" id="information-list"></ul>
        </div>
    </div>
</div>



<script>
    function randomString(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for(var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }

    var dataStore = {
        users: [],
        userId: "@ViewBag.Username",
        information: []
    };

    function longPolling(){
        $.ajax({
            url: "fetch/" + dataStore.userId,
            method: "GET",
            data: JSON.stringify({
                userId: dataStore.userId
            }),
            success: function(newInfo){
                dataStore.information = dataStore.information.concat(newInfo);
                for(var i = 0; i < newInfo.length; i++){
                    $("#information-list").append("<li class='list-group-item'>" + newInfo[i] + "</li>");
                }
                getUserStatus();
                longPolling();
            },
            error: function(err){
            
            }
        })
    }

    function bindSilenceButtons(){
        $(".silence-button").on("click", (e) => {
            e.preventDefault();
            var targetId = e.currentTarget.parentElement.dataset.targetid;
            $(e.currentTarget).attr("disabled", true);
            $.ajax({
                url: "silence/id=" + dataStore.userId + "&targetId=" + targetId,
                method: "POST",
                success: function(response){
                    getUserStatus();
                    debugger;
                },
                error: function(response){
                    debugger;
                }
            })
        });
    }
    function bindUnsilenceButtons(){
        $(".unsilence-button").on("click", (e) => {
            e.preventDefault();
            var targetId = e.currentTarget.parentElement.dataset.targetid;
            $(e.currentTarget).attr("disabled", true);
            $.ajax({
                url: "unsilence/id=" + dataStore.userId + "&targetId=" + targetId,
                method: "POST",
                success: function(response){
                    getUserStatus();
                    debugger;
                },
                error: function(response){
                    debugger;
                }
            })
        });
    }

    function getUserStatus(){
        $.ajax({
            url: "user_status/id=" + dataStore.userId,
            method: "GET",
            success: function(response){
                dataStore.users = response;
                $("#users-list").html("");
                for(var i = 0; i < response.length; i++){
                    var responseFields = response[i].split(";");
                    var btn = responseFields[2] == "Silence" ? "<button class='silence-button btn btn-default'>静音</button>" : "<button class='unsilence-button btn btn-default'>收信</button>";
                    $("#users-list").append("<li class='list-group-item' data-targetId='" + responseFields[0] + "'>" + responseFields[0] + " " + btn + " </li>");
                }
                bindSilenceButtons();
                bindUnsilenceButtons();
            },
            error: function(err){

            }
        })
    }
    
</script>

<script>
    function makeAjax(content){
        return () => {
            $.ajax({
                url: "post/id=" + dataStore.userId + "&content=" + content,
                method: "POST",
                dataType: "JSON",
                data: JSON.stringify({
                    userId: dataStore.userId
                }),
                success: function(response){
                    console.log(response);
                },
                error: function(err){
                    debugger;
                }
            });
        }
    }

    $(function(){
        $("#work-log-form").on("submit", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）群内发言: " + $("#work-log").val() + "。" )();
            $("#work-log").val("");
        }) 
        $("#food-button").on("click", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）正在组队外出就餐。")();
        })
        $("#unbrella-button").on("click", (e) => {
            e.preventDefault();
            makeAjax("用户（" + dataStore.userId + "）正在群内借伞。")();
        })
        $("#logout-form").on("submit", (e) => {
            makeAjax("用户（" + dataStore.userId + "）下线了。")();
        })
        longPolling();
        makeAjax("用户（" + dataStore.userId + "）上线了。")();
        getUserStatus();
    })

    $(document).on("unload", (e) => {
        $.ajax({
            url: "delete/id=" + dataStore.userId,
            method: "DELETE",
            dataType: "JSON",
            data: JSON.stringify({
                userId: dataStore.userId
            }),
            success: function(response){
                console.log(response);
            },
            error: function(err){
                debugger;
            }
        });
    })
</script>