<h1>文本留下：</h1>
<form id="post-content-form" method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="Index">
    <input type="text" name="content"/>
    <input type="submit" value="post"/>
</form>